<ul>
  <div className="MessageWrapper">
    <% for (let i = 0; i < messages.length; i++) { %>
    <div>
      <h1 className="user"><%= messages[i].user %></h1>
      <p><%= messages[i].added %></p>
    </div>
    <span className="message"> <%= messages[i].text %> </span>
    <% } %>
  </div>
</ul>
