<nav>
  <ul>
    <% for (let i = 0; i < links.length; i++) { %>
    <li>
      <a href="<%= links[i].href %>">
        <span><%= links[i].text %></span>
      </a>
    </li>
    <% } %>
    <li>
      <div class="searchMessageForm">
        <form method="GET" action="/search">
          <label for="search">Search for a user:</label><br />
          <input type="text" id="search" name="searchString" required /><br />
          <button type="submit">Search</button>
        </form>
      </div>
    </li>
  </ul>
</nav>
