<html></html>
  <head>
    <title>New Message Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <div className = "newMessageForm">
    <form method="POST" action="/new">
  <label for="Auth">Author Name</label><br>
  <input type="text" id="Auth" name="Auth"><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message">
  <button type="submit">Submit</button>
    </form>
    </div>
  </body>
</html>